<div class="conteiner">
<div class="header">
    <h1>MediUam</h1>
    <img src="corazon.png" alt="logo" class="img">
</div>


    <div class="targets">

        <div class="target">
            <a href="">
                <p>Mis Medicamentos</p>
              <img src="medicina.png" alt="" class="uno">
            </a>
        </div>

        <div class="target">

            <a href="">
                <p>Acerca de mi salud</p>
                <img src="corazon.png" alt="" class="dos">
            </a>

        </div>
    </div>


    <div class="target three">

        <a href="">
            <p>Registros</p>
            <img src="informe.png" alt="" class="tres">
        </a>
    </div>

    
    <div class="footer">
        <div class="section">
            <p>Copyright 2024</p>
            <a href="http://www.iztapalapa.uam.mx/" target="_blank">Uam-Iztapalapa</a>
            <a href="mailto:angeluam.0927@gmail.com">Correo</a>
        </div>
        
    </div>
      

    
</div>