<div class="conteiner">
<div class="header">
    <h1>MediUam</h1>
    <img src="corazon.png" alt="logo" class="img">
</div>


    <div class="targets">

        <div class="target">
            <a href="">
                <p>Mis Medicamentos</p>
              <img src="medicina.png" alt="" class="uno">
            </a>
        </div>

        <div class="target">

            <a href="">
                <p>Acerca de mi salud</p>
                <img src="corazon.png" alt="" class="dos">
            </a>

        </div>
    </div>


    <div class="target three">

        <a routerLink="/registro">
            <p>Registros</p>
            <img src="informe.png" alt="" class="tres">
        </a>
    </div>

    

    
</div>